body {
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
  color: #fff;

  font-family: monospace;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 12px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}
